#navbar{
  background-image: url(../../assets/img/black.png);
  background-color: #000000e8;
}

.navbar-nav{
  margin-left: auto; 
  font-size: 17px;
}  

@media screen and (min-height: 900px) {
  .navbar-nav{
    align-items: flex-end;
  }

  .navbar-brand{
    /* font-size: 22px; */
  }  
}